@import "../../styles/abstracts/colors.scss";

.light {
  color: $dark-600;
  background-color: $white;
  .codeDiv {
    div {
      background-color: #f7f9fc;
    }
  }
  .form {
    background-color: $white;
  }
}

.dark {
  color: $white;
  background-color: $dark-700;
  .form {
    background-color: $dark-700;
  }
  .codeDiv {
    div {
      background-color: #1a165a;
    }
  }
}
.previewContainer {
  padding: 100px 50px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.codeDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    width: 29%;
    margin: 10px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
  }
}
.codeHeader {
  height: max-content !important;
  width: max-content !important;
  padding: 0px !important;
  margin: 0px !important;
}
.formContentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  img {
    width: 1000px;
  }
}
.form {
  width: 570px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  top: 20%;
  left: 25%;
}
