@import "../abstracts/colors";
@font-face {
  font-family: "Faktum";
  src: url("../../assets/fonts/Rene\ Bieder\ -\ Faktum\ Test\ Regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Faktum", sans-serif !important;
}
button {
  cursor: pointer;
  font-family: "Faktum", sans-serif !important;
}

.light {
  .text {
    color: $dark-900;
  }
  .background {
    background-color: $white;
  }
}

.dark {
  .text {
    color: $white;
  }
  .background {
    background-color: $dark-700;
  }
}
.flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
}
